body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}

header{
    height: 60px;
    margin: 0;
    background-color: rgb(231, 173, 183);
    display: flex;
    align-items: center;
    justify-content: center;
}



@keyframes rotate {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
}
.logo:hover{
    animation: rotate infinite;
    cursor: pointer;

}

nav{
    display: flex;
    align-items: center;
    justify-content: center;

}

.place{
    display: flex;
    
    border-radius: 10px;
    margin: 10px;
}

.image-src{
    margin: 10px;
    height: 400px;
    width: 1800px; 
}

.image-src > img{
  height: 100%;
  width: 100%;
  
  border-radius: 5px;

}

.details{
    margin: 10px;
}

.details > span{
    margin-right:10px ;
}

.details > p{
    margin-bottom: 0;
}

