body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}

header{
    height: 60px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo{
    animation: rotate infinite 20s linear;
    cursor: pointer;

}


@keyframes rotate {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;

}

.place{
    display: flex;
    
    border-radius: 10px;
    margin: 10px;
}

.image-src{
    margin: 10px;
    height: 400px;
    width: 1800px; 
}

.image-src > img{
  height: 100%;
  width: 100%;
  
  border-radius: 5px;

}

.details{
    margin: 10px;
}

.details > span{
    margin-right:10px ;
}

.details > p{
    margin-bottom: 0;
}

